__pycache__/
*.pyc
.dart_tool/
build/

pc/chrome-extension/node_modules/

pc/.venv/
pc/build/
pc/dist/
pc/clipsync.id

mobile/.gradle/
mobile/build/
mobile/.flutter-plugins-dependencies
mobile/android/local.properties
mobile/android/app/src/main/java/
mobile/flutter_*.log
/mobile_build/

release/android-signing/

tools/

.worktrees/
